table {
    text-align: center;
}

.cooking-title{
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: Nunito;
}

.cooking-title2{
    text-align: center;
    margin-top: .5em;
    font-family: Nunito;
}
